<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--
        启用spring mvc 注解, 默认的注解映射的支持
        自动注册 RequestMappingHandlerMapping RequestMappingHandlerAdapter 两个 bean
        这是 Spring mvc 分发请求所必须的
        并提供了数据绑定支持
        读写XML支持
        读写Json支持
    -->
<!--    <mvc:annotation-driven/>-->
    <!--
        对静态资源文件的访问，
        将无法mapping到Controller的path
        交给default servlet handler处理
    -->
<!--    <mvc:default-servlet-handler />-->

<!--    <context:annotation-config/>&lt;!&ndash; 开启注解处理器 &ndash;&gt;-->
<!--    <context:component-scan base-package="org.nci.henry"/>　　　　&lt;!&ndash; 自动扫描包，注册 @Controller @Service @Repository @Component 等注解的类成为 bean &ndash;&gt;-->



    <context:component-scan base-package="org.nci.henry">

        <context:exclude-filter type="regex" expression="org.nci.henry.controller.*"/>
        <context:exclude-filter type="regex" expression="org.nci.henry.aspect.*"/>
    </context:component-scan>
<!--    <mvc:default-servlet-handler />-->
<!---->
<!--    <mvc:annotation-driven/>-->
<!--    <context:annotation-config/>-->

</beans>